.navbar {
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-link:hover {
  color: #00bcd4;  /* Blue color on hover */
}
